body {
    background-color: black;
}

#logo {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    width: 80%;
    height: auto;
}

#logo_klein {
    width: 15%;
}



#story {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#sceneImage {
    max-width: 70%;
    height: auto;
}

#storyText {
    margin-left:15% ;
    margin-right: 15%;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(32, 31, 31);
}

#choices {
    text-align: center;
}

button {
    width: 23%;
    height: 100px;
    margin: 5px;
    padding: 20px 20px;
    font-size: 20px;
    border: none;
    color: white;
    background-color: rgb(64, 64, 64);
}

h1 {
    color: white;
    font-size: 30px;
}
#terugknop {
    padding: 1% 1%;
    color: white;
    border-color: gray;
    background-color: gray;
    border-style: solid;
    font-size: 4em;
    text-decoration: none;
}